﻿html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
nav, menu, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, nav, nav, section {
    display: block;     
}
body {
    background: #ECF0F5;
}
.container {
    width: 95%;
    margin: auto;
    padding-top: 200px;
    padding-bottom: 70px;
    min-width: 1280px;
}

.container1 {
    width: 95%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 35px;
    min-width: 1280px;
}

.top-fix {
    position: fixed;
    top: 0px;
    background: #ECF0F5;
    z-index: 5;
    box-shadow: 0 -10px 0px 10px #ECF0F5;
    width: 100%;
}

.header {	
    width: 1280px;
    margin: auto;	
    height: 40px;
    background: white;}

.header_box {
    width: 100%;
    overflow: hidden;
    height: 40px;
    background: white;
}

#header_box {
    position:relative;
    width: 1280px;
    margin: auto;
}

.header .logo {

    width: 50px;
    height: 30px;
    margin-top: 5px;
    float: left;
}

.header .logo1 {
    border-radius: 100px;
    background: #3C8DBC;
    width: 39px;
    height: 39px;
    margin-top: 5px;
    float: left;
}

.header .site-name {
    float: left;
}

.header .site-name1 {
    float: left;
    margin-top:5px;
}

#top-navbar-user {
    float: right;
    font-family: pt sans,sans-serif;
    padding: 5px 0px 0px 0px;
    font-size: 16px;
}

#top-navbar-user .userpic {
    display: inline-block;width: 20px;height: 20px;border-radius: 100px;margin-top: -3px;
}

#top-navbar-user .ref{
    margin: 8px 0px 0px 20px;letter-spacing: 0px;color: black;font-size: 13px;}


#top-navbar-user a {
    float: left;
}

.header .site-name h1 {
    margin: auto;
    font-family: pt sans,sans-serif;
    padding: 8px 0px 0px 21px;
    font-size: 19px;
    display: inline-block;
}

.header .site-name1 h2 {
    margin: auto;
    font-family: pt sans,sans-serif;
    padding: 8px 0px 0px 21px;
    font-size: 19px;
    display: inline-block;
}

.header .site-name p {
    display: inline-block;
    padding: 5px 0px 0px 17px;
    font-family: pt sans,sans-serif;
    font-size: 13px;
    width: 310px;
    margin: auto;
    vertical-align: top;
    letter-spacing: 0px;
    color: grey;
}
.header .site-name1 p {
    display: inline-block;
    padding: 5px 0px 0px 17px;
    font-family: pt sans,sans-serif;
    font-size: 13px;
    width: 310px;
    margin: auto;
    vertical-align: top;
    letter-spacing: 0px;
    color: grey;
}

.select {
    padding: 5px 0px 0px 0px;
    width: 1280px;
    margin: auto;
}

.select_box {
    background: #DFE3E8;
    border-bottom: 2px #bcbfc3 solid;
    height:40px;
    width: 100%;
    margin: auto;
    font-family: pt,sans-serif;
    font-size: 16px;
}

#select_box {
    position:relative;
    width: 1280px;
    margin: auto;
}

.select_table {
    margin: auto;
    box-shadow: 0 6px 4px -4px #8B8B8B;
    width: 1280px;
}

.horiz-floating-table{
    position:relative;
}

.wrapper-floating-table-part{
    position:relative;
    margin-left: 140px;
    display: block;
}

.horiz-fixed-table-part{
    margin-left: 0px;
    float: left;
    position:absolute;
    z-index: 10;
}

.horiz-floating-table-part{
    position:relative;
}

.data_selector {
    width: auto;
    background: #F4F4F4;
    border-radius: 5px;
    display: inline-block;
    float:left;
    margin-right:16px;    
}

.data_options {
    vertical-align: middle;
    margin-left: 5px;
}

.data_options label{
    float: left;
    height: 28px;
    margin-left: 5px;
    margin-top: 5px;
} 

#select-date, #select-date-from, #select-date-to, #mod-date{
    float: left;
    width: 150px;
    height: 28px;
    border: none;
    background: #F4F4F4;
    border-radius: 2px;
    box-shadow: 0 0 1px #C8CCD4;
    padding: 6px 0px 6px 6px;
    box-sizing: border-box;
}

#add-date, #sources-button , #change-show-dates{
    float: left;
    background: #00AAD4;
    border: none;
    margin-left: 5px;
    vertical-align: top;
    height: 32px;
    border-radius: 3px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    padding: 0px 17px 4px 8px;
    width: 150px;
    border-bottom: 2px solid #33769D;
}

#add-date:hover, #sources-button:hover, #change-show-dates:hover {
    background: #33769D; }

#add-date:disabled{
    background: #00AAD4;
}

#change-show-dates{
    margin-left: 40px;
    width: 100px;
}

#sources-button {
    font-size: 15px;
    width: 160px;
    box-sizing: border-box;
    margin-left: 9px;
    float:right;
}

.data_selector .period-selector {
    cursor: pointer;
    font-family: pt sans,sans-serif;
    padding: 5px 8px 6px 6px;
    font-size: 13px;
    float: left;
    border-radius: 0px;
    border: 1px solid lightgray;
}

.data_selector .period-selector.period-selector-selected {
    box-shadow: 0px 0px 10px #707070 inset;
    background-color: #8D8D8D;
    color: #FFF;
}

#select-source-type 
{    
    vertical-align: top;    
    width: 135px;    
    height: 32px;    
    border-radius: 2px;
    background: #F3E1EB;
    border: 1px solid #CECECE;
    box-sizing: border-box;
}

#header-table, #header-table-fixed, #header-table-names
{    
    margin: 0px;    
    background: #F6CEDF;    
    border-radius: 2px;    
    border-top-left-radius: 2px;    
    border-top-right-radius: 2px; 
    border-top: 0px solid #3C8DBC;
    font-family: pt sans,sans-serif;
    font-size: 14px;
    padding: 0px;
    border-collapse: collapse;
}

#header-table td, #header-table-fixed td{
    height: 40px;
}

#header-table td, #header-table-fixed td, #header-table-names td 
{
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
    position: relative;
}

#headername1, #headername2, #headername3, #headername4 
{
    border-bottom: 1px solid #c0c2c4; 
    height:25px;
    text-align:center;
}

#headername1 {
    background: #F3E1EB;
}

#headername2 {
    background: #F3EFD8;
}

#headername3 {
    background: #EBDFF1;
}

#headername4 {
    background: #DEEEE1;
}

#header1
{
    background: #F8D0E0;
}

#header2
{
    background: #F8D0E0;
}

#header3
{
    background: #FAC8D8;
}

#header4
{
    background: #F8D0E0;
}

#header5
{
    background: #F8D0E0;
}

#header6
{
    background: #FAC8D8;
}

#header7
{
    background: #FAEEBB url('../img/specifi_bg1.jpg') no-repeat -1px 0px;
}

#header8
{
    background: #F3E3B2;
}

#header9
{
    background: #F3E3B2;
}

#header10
{
    background: #E9CEED url('../img/specifi_bg2.jpg') no-repeat -1px 0px;
}

#header11
{
    background: #DEC5E2;
}

#header12
{
    background: #DEC5E2;
}

#header13
{
    background: #E9CFED;
}

#header14
{
    background: #D2E8D1 url('../img/specifi_bg3.jpg') no-repeat -1px 0px;
}

#header15
{
    background: #C5E0C3;
}
#header16
{
    background: #C5E0C3;
}

#select-total-period 
{    
    vertical-align: top;    
    width: 135px;    
    height: 32px;    
    border-radius: 2px;
    background: #33769D;
    border: 1px solid #CECECE;
    box-sizing: border-box;
    color: #FFF;
}

#totals-table, #totals-table-fixed{    
    margin: 0px 0px 0px 0px;    
    background: #33769D;    
    /* border-radius: 1px; */     
    border-top-left-radius: 0px;    
    border-top-right-radius: 0px;
    border-top: 0px solid #3C8DBC;    
    height: 35px;   
    font-family: pt sans,sans-serif;
    font-size: 14px;
    padding: 0px;
    border-collapse: collapse;
    color: white;
    font-weight: bold;
}

#totals-table td, #totals-table-fixed td{    
    vertical-align: middle; 
    text-align: center; 
    background: #33769D;  
    box-sizing: border-box;
    font-weight: bold;
}

.column1
{
    width: 140px;
}
.column2
{
    width: 85px;
}
.column3
{
    width: 65px;
}
.column4
{
    width: 70px;
}
.column5
{
    width: 70px;
}
.column6
{
    width: 70px;
}
.column7
{
    width: 70px;
}
.column8
{
    width: 55px;
}
.column9
{
    width: 70px;
}
.column10
{
    width: 70px;
}
.column11
{
    width: 60px;
}
.column12
{
    width: 70px;
}
.column13
{
    width: 115px;
}
.column14
{
    width: 105px;
}
.column16
{
    width: 100px;
}
.column15
{
    width: 65px;
}

.col-rename-btn {
    position:absolute;
    z-index: 10;
    width: 10px;
    height: 10px;
    cursor: pointer;
    background-image: url('../img/mod_column.jpg');
    bottom: 0px;
    right: 0px;
}

.percents ::after {
    content: '%';
}

.sales-cell
{
    display:inline-block;
    overflow: hidden;
    padding-right:5px;
}
.sales-cell-column1
{
    max-width: 140px;
}
.sales-cell-column2
{
    max-width: 85px;
}
.sales-cell-column3
{
    max-width: 55px;
}
.sales-cell-column4
{
    max-width: 70px;
}
.sales-cell-column5
{
    max-width: 70px;
}
.sales-cell-column6
{
    max-width: 70px;
}
.sales-cell-column7
{
    max-width: 70px;
}
.sales-cell-column8
{
    max-width: 55px;
}
.sales-cell-column9
{
    max-width: 70px;
}
.sales-cell-column10
{
    max-width: 70px;
}
.sales-cell-column11
{
    max-width: 55px;
}
.sales-cell-column12
{
    max-width: 70px;
}
.sales-cell-column13
{
    max-width: 110px;
}
.sales-cell-column14
{
    max-width: 105px;
}
.sales-cell-column16
{
    max-width: 100px;
}
.sales-cell-column15
{
    max-width: 65px;
}

#main-data {  
    margin-top: 7px;  
    width: 1280px;
    overflow: hidden;
    margin: auto;
}

.period-date {
    display: inline-block;
    border-top: 2px solid #D2D6DE;
    text-align: center;
    font-family: pt sans,sans-serif;
    font-size: 13px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    background: #ECF0F5;
    float: left;
    box-shadow: 0 0 0px 1px #D2D6DE;
    height: 23px;
    margin-bottom: -20px;
    margin-left:1px;
    position: relative;
    z-index: 3;
    padding: 3px 5px 0px 5px;
    clear: initial;
}

#sales-data > div.hover > .period-date {
    background: #FEFFFD!important;
}

.period-comment {
    cursor: pointer;
    float: right;
    overflow: hidden;
    display: inline-block;
    max-width: 200px;
    height: 23px;
    border-top: 3px solid #D2D6DE;
    font-family: pt sans,sans-serif;
    font-size: 13px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    background: white;
    padding: 0px 4px 5px 4px;
    box-sizing: border-box;
    line-height: 15px;
    clear: initial;
    margin-bottom: -2px;
    position: relative;
    z-index: 1;
}

#sales-data > div > div {
    clear: both;
    position: relative;
    z-index: 2;
}

.sales-table-container{
    margin-bottom: 10px;
}

.sales-data-table-header-container{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    margin-left: -2px;
}

.sales-data-table {    
    margin: 0px 0px 0px 0px;
    background: #F6CEDF;
    border-radius: 3px;
    box-sizing: border-box;
    border-top: 3px solid #D2D6DE;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px; 
    font-family: pt sans,sans-serif;
    font-size: 14px;
    padding: 0px;
    border-collapse: collapse;
    height: 43px;
    background: #F9F9F9;
    text-align: right;
}

.sales-data-table td{ 
    /* background-color: #4D90FE; */
}

.sales-data-table  td {
    vertical-align: middle;
    box-sizing: border-box;
    height: 25px;
    font-family: pt sans,sans-serif;
    outline-color: #4D90FE;
    outline-offset: -2px;
    outline-style: none;
    outline-width: 2px;
}

.sales-data-table input {
    border: none;
    background: transparent;
    text-align: right;
    outline-color: transparent;
    font-family: pt sans,sans-serif;
    font-size: 14px;
    width:100%;
}

.sales-data-table tbody > :nth-child(4n+1) > :nth-child(1) div::before {
    content: '';
    width: 4px;
    height: 17px;
    background: #FF7029;
    float: left;
    border-radius: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 7px;
}
.sales-data-table tbody > :nth-child(4n+2) > :nth-child(1) div::before {
    content: '';
    width: 4px;
    height: 17px;
    background: #A6B9F7;
    float: left;
    border-radius: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 7px;
}
.sales-data-table tbody > :nth-child(4n+3) > :nth-child(1) div::before {
    content: '';
    width: 4px;
    height: 17px;
    background: #1438A3;
    float: left;
    border-radius: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 7px;
}
.sales-data-table tbody > :nth-child(4n+4) > :nth-child(1) div::before {
    content: '';
    width: 4px;
    height: 17px;
    background: #169C55;
    float: left;
    border-radius: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 7px;
}

.sales-data-table tbody > :last-child > :nth-child(1) div::before {
    content: '';
    width: 10px;
    height: 10px;
    background: black;
    float: left;
    border-radius: 2px;
    margin-top: 3px;
    margin-left: 2px;
    display:none;
}

.sales-data-table .column1
{
    background: #FFFFFF;
    text-align: left;
}

.sales-data-table .column2
{
    background: #FFFFFF;
}

.sales-data-table .column4
{
    background: #FFFFFF;
}

.sales-data-table .column5
{
    background: #FFFFFF;
}

.sales-data-table .column7
{
    background: #FFFFFF;
}

.sales-data-table .column10
{
    background: #FFFFFF;
}

.sales-data-table .column13
{
    background: #FFFFFF;
}

.sales-data-table .column14
{
    background: #FFFFFF;
}

.sales-data-table .sales-data-totals td
{
    background: #63A3C9!important;
    color: white;
}

.sales-data-table tr > td 
{
    border: 1px solid #F4F4F4;
}

.bottom-fix {
    position: fixed;
    bottom: 0px;
    width: 100%;
    border-top: 2px solid #D9DDE2;
    z-index: 5;
    height: 80px;
    background: #DFE3E8;
    font-family: pt sans,sans-serif;
}

.bottom-fix1 {
    position: fixed;
    bottom: 0px;
    width: 100%;
    border-top: 2px solid #D9DDE2;
    z-index: 3;
    height: 37px;
    background: #DFE3E8;
    font-family: pt sans,sans-serif;
}

#bottom-fix {
    position:relative;
    width: 1280px;
}

#projects-data {
    display: block;
    vertical-align: top;
    font-size: 15px;
    width: 95%;
    margin: auto;
    height: 48px;
    white-space: nowrap;
    overflow: auto;

}

#links {
    display: block;
    font-size:13px;
    margin: auto;
    text-align:center;
    width: 100%;
    z-index: 3;
    padding-top:2px;
    height: 35px;
    background: #DFE3E8;
    font-family: pt sans,sans-serif;
    /* position:fixed; */
    vertical-align:middle;
    bottom:0px;
}

.refname {
    text-decoration:none;}
.input1 {
    height: 42px;
    width: 198px;
    margin:0 10px;
}

.form1 {
    background-color:#DFE3E8;
    border-radius:5px;
    border:1px solid #BCBFC3;
    margin:auto;
    padding: 10px;
    width: 300px;
    text-align: center;
    margin-top:50px;
    font-family: pt sans,sans-serif;

}

.form2{
    background-color:#ECF0F5;
    border-radius:5px;
    border:1px solid #BCBFC3;
    margin:auto;
    padding: 10px;
    width: 300px;
    text-align: center;
    margin-top:50px;
    font-family: pt sans,sans-serif;

}

.form2 input {
    height: 42px;
    width: 198px;
    margin:0 10px;
}

.checkbox2 {
    width:20px;
    height:20px;
    margin: 0px;
}

.input2 {
    height: 42px;
    width: 198px;
    margin:0 10px;
}

.submit2 {
    background: #00AAD4;
    border: none;
    height: 40px;
    border-radius: 3px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-bottom: 2px solid #33769D;
    margin-top: 17px;
    margin-bottom: 5px;
    min-width: 198px;
}
.submit2:hover {
    background: #33769D;
}

.form1 h2 {
    font-size:24px;
    padding:10px;
}
.submit1{
    background: #00AAD4;
    border: none;
    height: 40px;
    border-radius: 3px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-bottom: 2px solid #33769D;
    margin-top: 17px;
    margin-bottom: 5px;
    min-width: 198px;
}
.submit1:hover {
    background: #33769D;
}
.comments_container {

    margin: auto;
    padding:20px;
    min-width: 1280px;
    background-color:#ECF0F5;
    font-family: pt sans,sans-serif;
    font-size: 14px;
    height:100%;
}
#comments_plans {
    width:350px;
    float:left;}

#comments_vk {
    float:left;
}

.comments_table td {
    vertical-align:top;}	

#projects {
    display: inline-block;
    vertical-align: top;
    margin-top: -2px;
    height: 26px;
    white-space: nowrap;
}

#projects .project {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    height: 21px;
    border-bottom: 3px solid #D2D6DE;
    border-color: #D2D6DE;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    font-family: pt sans,sans-serif;
    padding: 2px 8px 0px 8px;
    border-left: 1px solid #BCBFC3;
    border-right: 1px solid #BCBFC3;
    box-sizing: content-box;
}

#projects .project:hover {
    background:#FFF; border-bottom: 3px solid #357CA5;
}

#projects .project-selected {
    background: white;
    border-bottom-color: #357CA5;
    border-bottom-width: 3px;
}

#add-project {
    cursor: pointer;
    display: inline-block;
    width:154px;
    vertical-align: top;
    background: #DFE3E8;
    height: 21px;
    padding-top:2px;
    box-sizing: content-box;
    border-bottom: 3px solid #D2D6DE;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    font-size: 15px;
    color: #222222;
    font-family: pt sans,sans-serif;
    text-align: center;
    margin-top: -2px;
    border-left: 1px solid #BCBFC3;
    border-right: 1px solid #BCBFC3;
}

#add-project:hover
{
    background: white;
    border-bottom-color: #357CA5;
}

/*********************************
То, что вверху - от верстальщика. Внизу - от программиста
***********************************/

.hidden
{
    display: none;
}

.non-visible
{
    visibility: hidden;
    z-index: -1000;
}

.inline-block
{
    display: inline-block;
}

.del-confirmation-block{
    text-align: center;
    display: none;
}

.del-icon{
    width: 20px;
    height: 20px;
    background-image: url('../img/deletered_4202.png');
    background-size: contain;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}

#add-project-form 
{ 
    display: none; 
}

#mod-project-form 
{ 
    display: none; 
}

#sources-form 
{ 
    display: none;
    overflow: auto;
} 

.delete-source{
    cursor: pointer;
}

#comments-form
{ 
    display: none; 
}

#mod-column-form 
{ 
    display: none; 
}

#sales-data-add
{
    height: 15px;
    text-align: center;
    cursor: pointer;
}

.arrow-down{
    cursor: pointer;
    display: inline;
    height: 9px;
    width: 140px;
}

.sourses-table
{
    border-collapse: collapse;
    border:0px solid black;
}

.sourses-table td
{
    padding: 0px;
    border:0px solid black;
}

.source-name {
    width: 300px;
    border: none;
    border-bottom: 1px solid #E9E9E9;
}

#date-form {
    display: none;
}

#chart-full-form  { 
    display: none;
}

#chart-full-container  { 
    width: 95%;
    height: 95%;
    margin: auto;
}

.ui-datepicker{ 
    z-index: 200 !important;
}

/*********************************
Панель графиков
***********************************/

#charts-panel{
    position: fixed;
    width: 0px;
    height: 100%;
    top: 80px;
    right: 0px;
    z-index: 100;
}

#charts-source-total-swither{
    z-index: 100;
    width: 100%;
    background-color: #EEE;
    height: 30px;
    padding-left: 10px;
    padding-top: 5px;
}

#charts-source-total-swither-title{
    font-size: 15px;
    color: #222222;
    font-family: pt sans,sans-serif;
    font-weight: bold;
}

#charts-area{
    position: absolute;
    left: 0px;
    top: 30px;
    width: 100%;
    height: 100%;
    padding-left: 5px;
    padding-bottom: 30px;
    background-color: #EEE;
    overflow: auto; 
}

.chart-group{
    width: 100%;
    text-align: center;
}

.chart-group-title{
    width: 100%;
    text-align: center;
    font-family: pt sans,sans-serif;
    padding: 5px 0px 5px 0px;
    font-size: 20px;
}

.chart-block{
    position: relative;
    width: 90%;
    height: 25%;
    margin-top: 45px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.chart-title{
    position: absolute;
    top: -40px;
    left: 0px;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    overflow: hidden;
    background-color: #FFF;
    font-size: 15px;
    color: #222222;
    font-family: pt sans,sans-serif;
    text-align: center;
    cursor: pointer;
}
.chart-title:hover{
    color: #00F;
}

.chart-container{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #FFF url('../img/loading_chart.gif') no-repeat;
    background-position: center center;
}

.chart-block-up{
    position: absolute;
    width: 16px;
    height: 16px;
    top: -16px;
    left: 0px;
    background: url('../img/charts_arrow_up.png') no-repeat;
    cursor: pointer;
    z-index: 100;
}


.chart-block-down{
    position: absolute;
    width: 16px;
    height: 16px;
    top: 16px;
    left: 0px;
    background: url('../img/charts_arrow_down.png') no-repeat;
    cursor: pointer;
    z-index: 100;
}

.chart-block-enlarge{
    position: absolute;
    width: 16px;
    height: 16px;
    bottom: 0px;
    right: 0px;
    background: url('../img/enlarge.png') no-repeat;
    cursor: pointer;
    z-index: 100;
}

#charts-panel-switch-show{
    position: absolute;
    width: 32px;
    height: 32px;
    top: 48%;
    left: -32px;
    background: url('../img/charts_arrow_left.png') no-repeat;
    cursor: pointer;
    z-index: 100;
}

#charts-panel-switch-hide{
    position: absolute;
    width: 32px;
    height: 32px;
    top: 48%;
    left: 0px;
    background: url('../img/charts_arrow_right.png') no-repeat;
    cursor: pointer;
    z-index: 100;
}

#charts-panel-reload{
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0px;
    right: 15px;
    background: url('../img/reload.png') no-repeat;
    cursor: pointer;
    z-index: 100;
}

/*********************************
Стили для sign_up Посадочной
***********************************/
.auth_form {

    width:730px;
    background-color:#ECF0F5;
    border-radius:5px;
    border:1px solid #BCBFC3;
    margin:auto;
    padding: 10px;
}



.auth_form td {
    padding:0px;}

.auth_form #submit_btn {
    float: left;
    background: #00AAD4;
    border: none;
    margin-left: 5px;
    vertical-align: top;
    height: 40px;
    border-radius: 3px;
    color: white;
    width:100%;
    font-size: 18px;
    cursor: pointer;
    border-bottom: 2px solid #33769D;
    margin-top: 17px;
    margin-bottom: 5px;

}

.auth_form #submit_btn:hover {background: #33769D; }

.signup_fon {
    width:100%;
    background: #2A2B2B url('../img/fonvoronka.jpg') no-repeat -1px 0px;
    height: 390px;
    background-position: top center;

}
.signup_fon label {
    font-family: pt,sans-serif;
    font-size:14px;
    color:#000;
    margin:0 10px;
}
.signup_fon input {
    height: 42px;
    width: 198px;
    margin:0 10px;
}

.signup_offer h1 {
    font-family: roboto,sans-serif;
    color: #FFF;
    text-align: center;
    text-shadow: 1px 1px 1px #242424;
    line-height: 1.5;
    font-weight: bold;
    font-size: 36px;
    padding: 60px 0 20px 0;
}

.signup_offer h2 {
    font-size: 24px;
    color: #FFF;
    text-align: center;
    text-shadow: 1px 1px 1px #242424;
    font-family: pt,sans-serif;
    padding-bottom:20px;
    font-weight:normal;
}
.signup_trigger {
    background-color:#FFF;
    width: 960px;
    text-align: left;
    margin: auto;
    margin-top: 30px;}

.signup_trigger td {
    width:240px;
    padding-bottom: 20px;}

.trigger_top {
    font-weight: bold;
    color: #222D32;
    line-height: 1.2;
    font-family: roboto,sans-serif;
    font-size: 18px;
}

.trigger_text {
    line-height: 1.2;
    font-family: pt sans,sans-serif;
    font-size: 16px;
    color: #222D32;}

.column-tip{
    display:none;
    position: absolute;
    border-radius: 5px;
    background: #FFFFFF;
    border: 1px solid #C5C5C5;
    -moz-box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.50);
    -webkit-box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.50);
    box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.50);
    width: 250px;
    text-align:left;
    padding: 20px;
    z-index: 5000;
    left: -140px;
    bottom: 35px;
}

.instruction{
    text-align: left;
    margin:  auto;
    width: 800px;
}
